### IntelliJ
.idea
*.iml
out
gen
jars
/jars/*

/src/main/java/com/github/walkgs/lubes/com.github.walkgs.lubes.Main.java

### Gradle
.gradle

gradle-app.setting
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/